# Week 3 capstone project

Importing pandas and numpy

In [1]:
import pandas as pd
import numpy as np

using pandas read_html method to get table data

In [2]:
canadam = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

assigning table data to a dataframe

In [3]:
df = canadam[0]

replacing 'Not assigned' values with np.nan

In [4]:
df.replace(to_replace='Not assigned', value=np.nan,inplace=True)

removing all rows having nan values in Borough using dropna

In [5]:
df.dropna(subset=['Borough'], inplace = True)

replacing nan values in Neighbourhood with Borough

In [6]:
df['Neighbourhood'] = df['Neighbourhood'].fillna(df['Borough'])

In [7]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

converting all data types to string to apply aggregate function

In [8]:
df['Postcode'] = df['Postcode'].astype(str)
df['Borough'] = df['Borough'].astype(str)
df['Neighbourhood'] = df['Neighbourhood'].astype(str)

using groupby function to groupby postcode and applything aggregate function on Neighbourhood

In [9]:
df = df.groupby('Postcode').agg({'Postcode':'first','Borough':'first','Neighbourhood': ', '.join})

In [10]:
df = df[['Postcode','Borough','Neighbourhood']].reset_index(drop=True)

In [11]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [12]:
df.shape

(103, 3)